div {
  position: relative;
  left: 40px;
}

h2 {
  position: relative;
  left: 50%;
}

.points {
  position: relative;
  top: 40px;
  left: 100px;
}

.position {
  position: relative;
  bottom: 40px;
  left: 20px;
}
