html {
  background: pink;
}
div {
  position: relative;
  left: 40px;
}
h2 {
  position: relative;
  left: 5em;
}
.points {
  position: relative;
  top: 0px;
  left: 100px;
}
.position {
  position: relative;
  bottom: -20px;
  left: 20px;
}
